result/*
local_setting.py
*.idf
*.tar
log*
*.sh
__pycache__/
cobs/__pycache__/*
policy_library/transfer/newa_*
PPO_weights/*
data/
.DS_Store
TODO
*checkpoint.ipynb
.history
Core_top_log.txt
test.py
testfittedq.py
.ipynb_checkpoints
.virtual_documents
config.py
studies/grad_norm_ipw_spearman_corrs_03_07_2022.pkl
.vscode
studies/plots
wandb/